@charset "utf-8";
/*
Theme Name: Tema
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Niple Stock
Version: 1.0
Tags: tema, averanga, Fernando Averanga, fernando averanga aruquipa
*/
/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	font-family: 'Electrolize', Arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
}
a{
	text-decoration: none;
}
.clr{
	clear: both;
}
/* Top Bar Style */
.codrops-top{
	line-height: 24px;
	font-size: 11px;
	background: rgba(255, 255, 255, 1);
	text-transform: uppercase;
	z-index: 9999;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 24px;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	-webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-moz-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-o-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	-ms-animation: slideOut 0.5s ease-in-out 0.3s backwards;
	animation: slideOut 0.5s ease-in-out 0.3s backwards;
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.codrops-top a:hover{
	background: #fff;
}
.codrops-top span.right{
	float: right;
}
.codrops-top span.right a{
	float: left;
	display: block;
}
/* Demo Buttons */
#codrops-demos{position: absolute;z-index: 2000;top: 15px;right: 3%;}
#codrops-footer {
    position: fixed;
    z-index: 2000;
    bottom: 50px;
    right: 50px;
}
#codrops-demos a{
	text-shadow: 0 0px 0px #005e99, 0 0px 3px #00619d, 0 1px 1px #00629e;
	display: inline-block;
	box-shadow: rgb(148, 148, 148) 0px -3px 9px inset;
	background: linear-gradient(rgb(255, 249, 28) 5%, rgb(247, 206, 0) 100%) rgb(249, 242, 0);
	border-radius: 5px;
	border: 1px solid #095790;
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	width: 110px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	padding: 0 0;
}
#codrops-demos a:hover{
	background: #425f71;
	color: #fff;
	text-shadow: 0 0px 0px #005e99, 0 0px 0px #00619d, 0 0px 0px #00629e;
}
#codrops-demos a.current-demo,
#codrops-demos a.current-demo:hover{
	background: #000;
	color: #fff;
	cursor: default;
}
#codrops-demos .btn-inicio{
	-webkit-animation-duration: 3.4s;
	-webkit-animation-delay: 0.81s;
	animation-duration: 3.4s;
	animation-delay: 0.81s;
	-moz-animation-duration: 3.4s;
	-moz-animation-delay: 0.81s;
}
#codrops-demos .btn-nosotros{
	-webkit-animation-duration: 3.4s;
	-webkit-animation-delay: 1.01s;
	animation-duration: 3.4s;
	animation-delay: 1.01s;
	-moz-animation-duration: 3.4s;
	-moz-animation-delay: 1.01s;
}
#codrops-demos .btn-contactos{
	-webkit-animation-duration: 3.4s;
	-webkit-animation-delay: 1.3s;
	animation-duration: 3.4s;
	animation-delay: 1.3s;
	-moz-animation-duration: 3.4s;
	-moz-animation-delay: 1.3s;
}
.logotipo .letraN{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 0.1s;
	animation-duration: 3.5s;
	animation-delay: 0.1s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 0.1s;
}
.logotipo .letraI{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 0.2s;
	animation-duration: 3.5s;
	animation-delay: 0.2s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 0.2s;
}
.logotipo .letraP{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 0.3s;
	animation-duration: 3.5s;
	animation-delay: 0.3s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 0.3s;
}
.logotipo .letraL{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 0.4s;
	animation-duration: 3.5s;
	animation-delay: 0.4s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 0.4s;
}
.logotipo .letraE{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 0.5s;
	animation-duration: 3.5s;
	animation-delay: 0.5s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 0.5s;
}
.logotipo .letraS{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 0.6s;
	animation-duration: 3.5s;
	animation-delay: 0.6s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 0.6s;
}
.logotipo .letraT{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 0.7s;
	animation-duration: 3.5s;
	animation-delay: 0.7s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 0.7s;
}
.logotipo .letraO{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 0.8s;
	animation-duration: 3.5s;
	animation-delay: 0.8s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 0.8s;
}
.logotipo .letraC{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 0.9s;
	animation-duration: 3.5s;
	animation-delay: 0.9s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 0.9s;
}
.logotipo .letraK{
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 1s;
	animation-duration: 3.5s;
	animation-delay: 1s;
	-moz-animation-duration: 3.5s;
	-moz-animation-delay: 1s;
}
.pausa{
	animation-play-state: paused;
}
.resumen{
	animation-play-state: running;
}
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-moz-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-o-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-ms-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
