@charset "utf-8";
/*
Theme Name: Tema
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Niple Stock
Version: 1.0
Tags: tema, averanga, Fernando Averanga, fernando averanga aruquipa
*/
.modal{max-height: 75%;width: 45%; box-shadow: 0 0 5px #fbfbfb;border: 1px solid #006aa8;}
.modal .modal-close {    cursor: pointer;  display: block;  position: absolute;  left: 0; padding: 0 0;box-shadow: rgb(140, 198, 255) 1px 2px 12px 2px inset;  background: linear-gradient(rgb(0, 95, 189) 5%, rgb(136, 206, 255) 100%) rgb(97, 200, 255);  border-radius: 3px;  border: 1.5px solid rgb(0, 33, 66);  cursor: pointer;  color: rgb(255, 255, 255);  font-size: 21px;  text-decoration: none;  text-shadow: rgb(21, 70, 130) 0px 0px 32px;}
.modal .modal-close i{font-size: 3rem;}
.modal .modal-close:hover{background: white;}
.modal .modal-close i:hover{color: black;}
/*Menu Lateral*/
.row .col.s3 {
  width: 20%;
  min-width: 230px;
}
/*cuerpo*/
.row .col.s10 {
  border-style: solid;
  border-left: solid #ffe510;
  border-bottom: transparent;
  border-right: transparent;
  border-top: transparent;
  width: 80%;
  min-height: 850px;
  margin-left: 20%;
  left: 0;
  right: auto;
}
/*Foooter*/
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 10px 15px 0px 15px;
    min-height: 1px;
}
.responsive-mascota{
  position: relative;
  padding-bottom: 77.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
@media (max-width: 992px){
  .modal {width: 60%;}
}
@media (max-width: 752px) {
  .modal {width: 40%;}
}
