@charset "utf-8";
/*!
Theme Name: Tema
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Niple Stock
Version: 1.0
Tags: tema, averanga, Fernando Averanga, fernando averanga aruquipa
*/
html, body {
	height:100%;
}
body {
	width: 100%;
  background: #fbf400;
	overflow-x: hidden;
	overflow-y: hidden;
}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none;margin: 0;}
input[type=number] { -moz-appearance:textfield;}
#header{
	position: absolute;
	z-index: 2000;
	width: 255px;
	top: 0px;
}
#header h1{
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
	padding: 20px;
	background: #000;
}
#header h2{
	color: rgb(1, 81, 175);
	font-size: 20px;
	font-weight: 800;
	text-align: center
}
#header h3{
	color: rgb(1, 81, 175);
	font-size: 15px;
	font-weight: 800;
	text-align: center
}
#menu-lateral{background: transparent;position: absolute;padding-right: 1%;padding-left: 1%;top: 0; z-index: 1;}
.mascota img { width: 66%;margin: 20px 0 20px 0;
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.17s;
	animation-duration: 2s;
	animation-delay: 0.17s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.17s;
}
#menu-lateral .jro{
	-webkit-animation-duration: 5s;
	-webkit-animation-delay: 0.01s;
	animation-duration: 5s;
	animation-delay: 0.01s;
	-moz-animation-duration: 5s;
	-moz-animation-delay: 0.01s;
}
.slider {background: rgba(0, 117, 194, 0.96); box-shadow: 0em 0em 15px #005992; border: 1px solid rgba(0, 95, 155, 0.78); border-radius: 0 0 10px 10px;}
.slider .indicators .indicator-item.active {background-color: #9fcdfb;}
#fakebg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgb(0, 97, 167);
}
.progress {
    position: fixed;
    top: 50%;
    left: 30%;
    height: 8px;
    display: block;
    width: 45%;
    background-color: #fcfeff;
    border-radius: 2px;
    margin: 0.5rem 0 1rem 0;
    overflow: hidden;
}
.progress .indeterminate { background-color: #e4ff00;}
.inicio-over{
	overflow-x: hidden;
	overflow-y: auto;
}
#inicio{
	overflow-y: auto;
overflow-x: auto;
    width: 100%;
min-height: 100%;
position: fixed;
}
.contenedor{
	box-shadow: 0em 0em 15px #005992;
	border: 1px solid rgba(0, 95, 155, 0.78);
	background: #fefefe;
	padding: 1% 1%;
	border-radius: 0 0 20px 20px;
}
#navigation {
	width: 100%;
	display:block;
	list-style:none;
	z-index:3;
	background: transparent;color: black;
}
#navigation ul{background: transparent;}
#navigation a{
		box-shadow: rgb(140, 198, 255) 1px 2px 12px 2px inset;
    background: linear-gradient(rgb(0, 123, 189) 5%, rgb(0, 76, 130) 100%) rgb(0, 123, 189);
    border-radius: 3px;
    border: 1.5px solid rgb(18, 77, 119);
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: rgb(21, 70, 130) 0px 0px 32px;
    display: block;
    line-height: 45px;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}
#navigation a:hover {
	background: #434343;
    line-height: 45px;
    font-size: 25px;
}
#navigation .col-body a{
	box-shadow: rgb(140, 198, 255) 1px 2px 12px 2px inset;
	background: linear-gradient(rgb(234, 234, 234) 5%, rgb(239, 239, 239) 100%) rgb(198, 235, 255);
	border-radius: 5px;
	border: 1px solid rgb(251, 244, 0);
  cursor: pointer;
	color: rgb(0, 0, 0);
	text-decoration: none;
	text-shadow: rgb(21, 70, 130) 0px 0px 32px;
	display: block;
	line-height: 30px;
	padding: 0px 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
#navigation .menu-1{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.17s;
	animation-duration: 2s;
	animation-delay: 0.17s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.17s;
}
#navigation .menu-2{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.17s;
	animation-duration: 2s;
	animation-delay: 0.17s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.17s;
}
#navigation .sub-menu-1{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.17s;
	animation-duration: 2s;
	animation-delay: 0.17s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.17s;
}
#navigation .sub-menu-2{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.67s;
	animation-duration: 2s;
	animation-delay: 0.67s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.67s;
}
#navigation .sub-menu-3{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.97s;
	animation-duration: 2s;
	animation-delay: 0.97s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.97s;
}
#navigation .sub-menu-4{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1.47s;
	animation-duration: 2s;
	animation-delay: 1.47s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 1.47s;
}
#navigation .menu-1{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.17s;
	animation-duration: 2s;
	animation-delay: 0.17s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.17s;
}
#navigation .menu-2{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.17s;
	animation-duration: 2s;
	animation-delay: 0.17s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.17s;
}
#navigation .sub-menu-1{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.17s;
	animation-duration: 2s;
	animation-delay: 0.17s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.17s;
}
#navigation .sub-menu-2{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.67s;
	animation-duration: 2s;
	animation-delay: 0.67s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.67s;
}
#navigation .sub-menu-3{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 0.97s;
	animation-duration: 2s;
	animation-delay: 0.97s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 0.97s;
}
#navigation .sub-menu-4{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 1.47s;
	animation-duration: 2s;
	animation-delay: 1.47s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 1.47s;
}
#navigation .sub-menu-5{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 2.17s;
	animation-duration: 2s;
	animation-delay: 2.17s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 2.17s;
}
#navigation .sub-menu-6{
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 3.0s;
	animation-duration: 2s;
	animation-delay: 3.0s;
	-moz-animation-duration: 2s;
	-moz-animation-delay: 3.0s;
}
#navigation .col-body a:hover{
	background: rgb(200, 234, 255);
}
/*Desplegables de imagenes*/
#muestra-prod .modal {left: 280px;}
.content-carousel{    background: -webkit-radial-gradient(#d0e1f1 3%, #fcfcfb 93%);
    background: -o-radial-gradient(#d0e1f1 3%, #fcfcfb 93%);
    background: -moz-radial-gradient(#d0e1f1 3%, #fcfcfb 93%);
    background: radial-gradient(#d0e1f1 3%, #fcfcfb 93%);
		border: 0.5px solid rgb(78, 85, 97);
		margin-bottom: 21px;
		border-radius: 0 0 8px 8px;}
.carousel{perspective: 200px;}
.carousel .carousel-item{width: 250px;height: 225px;box-shadow: 0em 0em 15px #c3c5c6;}
.carousel .carousel-item img{cursor: -webkit-zoom-in;cursor: zoom-in; border-color: black;}
.modal .modal-content {padding: 0px;background: #fefeff;}

#creditos{
	box-shadow: rgb(140, 198, 255) 1px 2px 12px 2px inset;
	background: linear-gradient(rgb(0, 123, 189) 5%, rgb(0, 76, 130) 100%) rgb(0, 123, 189);
	border-radius: 5px;
	border: 1px solid rgb(18, 77, 119);
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-decoration: none;
	text-shadow: rgb(21, 70, 130) 0px 0px 32px;
	display: block;
	line-height: 37px;
	padding: 0px 20px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
  margin-bottom: 10%;
}
.content{
  width: 100%;
  min-width: 1130px;
	top: 0px;
	position: absolute;
}
.content h2{
	font-size: 60px;
	padding: 0;
  border-radius: 17px 17px 0 0;
	margin-top: 0;
	background: linear-gradient(to right, #105e8a,#4886d2,#00629a);
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 1px #000, 0 1px 1px #000, 0 1px 1px #000;
}
.contenedor h3{
	font-size: 27px;
	padding: 4px;
	border-radius: 6px 6px 0 0;
	margin-top: 0;
	background: rgba(0, 11, 28, 0.69);
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 1px #000, 0 1px 1px #000, 0 1px 1px #000;
}
.content p{
    text-align: justify;
		font-size: 20px;
    line-height: 24px;
    color: #000;
    display: inline-block;
    padding: 10px;
    margin: 3px 0px;
}
.logo-principal h2{
	font-size: 25px;
    background: transparent;
    padding: 0;
    border-radius: 17px 17px 0 0;
    margin-top: 18%;
    text-align: center;
    color: #0074be;
    text-shadow: 0 1px 1px #fcfcfc, 0 1px 1px #000, 0 1px 1px #000;
    font-weight: 900;
}
.logo-principal h3 {
	font-size: 15px;
	background: transparent;
	border-radius: 17px 17px 0 0;
	text-align: center;
	color: #0074be;
	text-shadow: 0 1px 1px #fcfcfc, 0 1px 1px #000, 0 1px 1px #000;
	font-weight: 900;

}
.panel{
	overflow-y: auto;
	overflow-x: auto;
	width: 100%;;
	min-height: 100%;
	position: absolute;
	background-color: #000;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.panel:target{
	margin-left: 0%;
	background: #fbf400;
}
#inicio:target ~ #header #navigation #link-inicio,
#niples_hidraulicos:target ~ #header #navigation #link-niples_hidraulicos,
#resortes:target ~ #header #navigation #link-resortes,
#nosotros:target ~ #header #navigation #link-nosotros,
#contacto:target ~ #header #navigation #link-contacto{
	background: #000;
	color: #fff;
}
/* Logo-Principal */
.logo-principal{
   padding: 0% 0 4% 0;
}
.contenedor textarea {
    height: 15rem;
    color: #004973;
}
.contenedor	label {
    font-size: 1rem;
    color: #000000;
}
.contenedor input{color: #004973;height: 2rem;}
#works {
	padding: 15px 0px;
}
/*Slider-Principal*/
.slider .slides li .caption{
	color:#000;
	top: 80%;
	left: 0;
	right: 0;
	/*left:28%;*/
}
/*form contacto*/
#statusMessage {
    background: #005c01;
    color: #fff;
    /*position: absolute;*/
    bottom: 5px;
    left: 0;
    padding: 0px 10px;
    width: 100%;
    border-left: 5px solid #FFA200;
    /*opacity: 0;*/
    text-align: center;
    line-height: 1.1;
}
iframe{width: 100%;}
.animMessage {
    -webkit-animation: animMessage .4s;
    -webkit-animation-fill-mode: both;
    animation: animMessage .4s;
    animation-fill-mode: both;
}

#works li{
	display: inline;
}
#works li a{
	padding-right: 10px;
}
#works img {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	padding: 12px;
	background: rgba(255,255,255,0.9);
}
#form p{
	background: #fff;
	color: #000;
}
#form input, #form textarea{
	background: #000;
	color: #fff;
	border: none;
}
#form textarea{
	width: 493px;
	height: 100px;
}
#form label{
	padding-right: 10px;
	float: left;
}
.footnote a{
	color: #ddd;
}
footer a{
	color: #0067a5;
    text-shadow: 0 1px 1px #005a94, 0 1px 1px #fefefe, 0 1px 1px #459ddb;
}
footer a:hover{
	color: rgb(83, 159, 235);
}
.pie i{
	position: relative;
    top: 5px;
    left: 4px;
    font-weight: bold;
}
footer.page-footer{
	box-shadow: 0em 0em 7px #005992;
	border-top: 1px solid rgba(0, 95, 155, 0.78);
  background: linear-gradient(#268ac8,#004879);
}
footer.page-footer p{color: black; line-height: 0; padding: 0;font-size: 18px;}
footer.page-footer .container{width: 95%;}
footer .fwrap {
	background: rgb(255, 255, 255);
	margin: 0 0px;
  height: 133px;
	text-align: center;
	padding: 7px 6px;
	border-radius: 9px;
	box-shadow: 2px 2px 4px #000;
	border: 1px solid rgba(0, 0, 0, .2);
}
footer h1, footer h2, footer h3{
	color: #fbf400;
    background: rgba(221, 20, 20, 0.93);
    padding: 7px;
    margin: -8px;
    border-radius: 8px 6px 0 0;
    font-weight: bold;
}
footer h2{
	background: rgba(255, 0, 0, 0.62);
	padding: 7px;
	font-size: 15px;
	margin: 0 4px 6px 4px;
	border-radius: 10px;
}
footer .fot .col.s3{
  width: 25%;
}
.row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}
footer #datos{color: black;margin-top: 17px;}
